ul {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-content: center;
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

li {
  cursor: pointer;
}

li:hover {
  opacity: 0.7;
}

li:active {
  opacity: 0.6;
}

.instrument_selected {
  opacity: 0.6;
  color: black;
}

#piano {
  background: #ef5350;
}
#acoustic-guitar {
  background: #ec407a;
}
#acoustic-bass {
  background: #ab47bc;
}
#electric-bass {
  background: #7e57c2;
}

#electric-piano {
  background: #5c6bc0;
}
#violin {
  background: #42a5f5;
}
#tuba {
  background: #29b6f6;
}
#clarinet {
  background: #26c6da;
}

#perc-organ {
  background: #26a69a;
}
#harp {
  background: #66bb6a;
}
#ocarina {
  background: #9ccc65;
}
#music-box {
  background: #d4e157;
}

#square {
  background: #ffee58;
}
#saw {
  background: #ffca28;
}
#synth-bass {
  background: #ffa726;
}
#drums {
  background: #ff7043;
}
